[
  {inets,
    [
      {services, [{httpc, []}]}
    ]
  },
  {mnesia,
    [
      {dir, "/home/ping/xm_up_test/mnesia_store"}
      , {dump_log_write_threshold, 50000}
      , {dc_dump_limit, 40}
    ]
  }

  , {pg_protocol,
  [
    {debug_convert_config, true}
  ]
}

  , {pg_convert,
  [
    {debug, false}
    , {field_existance_validate, true}

  ]
}
].